.navbar-shadow {
  -webkit-box-shadow: 0px 7px 7px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 7px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 7px -4px rgba(0, 0, 0, 0.75);
  background-color: #fef9c3;
}
